{% extends 'core/base.html' %}

{% block content %}
<h2>Publisher/Editor Dashboard</h2>
<h5>Pending Articles for Review</h5>
<div class="row">
    {% for article in pending_articles %}
    <div class="col-md-6 mb-3">
        <div class="card p-3">
            <h5>{{ article.title }}</h5>
            <p>Author: {{ article.author.username }}</p>
            <a href="{% url 'approve_article' article.id %}" class="btn btn-sm btn-success">Approve</a>
        </div>
    </div>
    {% empty %}
    <p>No pending articles.</p>
<a href="{% url 'update_publisher_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
    {% endfor %}
</div>
{% endblock %}
